.swiper_container{
    height: 50vh;
    margin-top: 12rem;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.swiper{
    padding-top: 2rem;
}

.image_container{
    overflow: hidden;
}

img{
    border-radius: 5%;
}

.constant_image{
    height: 200px;
    width: 300px;
    object-fit: cover;
}


@media screen and (max-width: 1024px){

    .slider{
        gap: 2rem;
    }

    .constant_image{
        height: 150px;
        width: 200px;
        object-fit: cover;
    }

    .swiper_container{
        margin-top: 0;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 600px) {

    .constant_image{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    .slider{
        gap: 1rem;
        padding-bottom: 3rem;
    }

  }

