.categories {
  background: var(--color-bg1);
  height: 29rem;
  cursor: pointer;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories_container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1rem;
}

.categories_left {
  margin-right: 2rem;
}

.categories_left p {
  margin: 1rem 0 3rem;
}

.categories_right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.category {
  background: var(--color-bg2);
  padding: 1.5rem;
  border-radius: 2rem;
  transition: var(--transition);
  width: 13rem;
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category_icon {
  padding: 0.7rem;
  border-radius: 0.9rem;
  margin: 0 auto;
}

.category_icon i {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.category h5 {
  margin: 1rem 0 1rem;
}

.category p {
  font-size: 0.85rem;
}

@media screen and (max-width: 1024px) {
  .categories {
    height: auto;
  }

  .categories_container {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .categories_left {
    margin-right: 0;
    height: 32vh;
  }

  .categories_right{
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 3rem;
  }
}

@media screen and (max-width: 600px) {

  .categories{
    cursor: none;
  }

  .categories_left {
    margin-right: 0;
    height: 100%;
  }

  .categories_right{
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin: auto;
  }

  .category_icon i{
    font-size: 1.5rem;
  }

  .category {
    padding: 1rem;
    width: 10rem;
    border-radius: 1rem;
  }

  .category h5 {
    font-size: 1rem;
  }

  .category p {
    font-size: 0.9rem;
  }

  .category_icon{
    margin-top: 4px;
    display: inline-block;
  }
}
