nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav_menu a{
    transition: var(--transition);
}

.nav_menu{
    display:flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a:hover{
    color: var(--color-bg2);
}