footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15rem;
}

.footer_container > div h4{
    margin-bottom: 1.2rem;
}

.footer_1 p{
    margin: 0 0 2rem;
}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer_copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}


@media screen and (max-width: 1024px){
    .footer_container{
        grid-template-columns: 1fr 1fr;
        gap: 8rem;
    }
}

@media screen and (max-width: 600px) {
    .footer_container{
        grid-template-columns:1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer_1 p{
        margin: 1rem auto;
    }

    .footer2 p{
        margin: 1rem auto;
    }

    .footer3 p{
        margin:1rem auto;
    }

  }